<form
  [formGroup]="nuevoDomicilio"
  class="flex flex-col"
  (ngSubmit)="nuevaDireccion($event)"
>
  <mat-form-field appearance="fill">
    <mat-label>Provincia</mat-label>
    <input
      type="text"
      placeholder="Elegí uno"
      aria-label="Lista de provincias"
      matInput
      [formControl]="provincia"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let provincia of provinciasFiltradas | async"
        [value]="provincia"
      >
        {{ provincia }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ciudad</mat-label>
    <input
      type="text"
      placeholder="Elegí uno"
      aria-label="Lista de ciudades"
      matInput
      [formControl]="ciudad"
      [matAutocomplete]="ciudadAuto"
    />
    <mat-autocomplete
      #ciudadAuto="matAutocomplete"
      [displayWith]="getCiudadNombre"
    >
      <mat-option
        *ngFor="let ciudad of ciudadesFiltradas | async"
        [value]="ciudad"
      >
        {{ ciudad.ciudad_nombre }} - CP: {{ ciudad.cod_postal }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label> Dirección </mat-label>
    <input matInput formControlName="direccion" />
  </mat-form-field>

  <button color="primary" type="submit" mat-raised-button>Siguiente</button>
  <button
    id="toStep3"
    class="invisible"
    type="button"
    matStepperNext
    aria-label=""
  ></button>
</form>
