<h1 mat-dialog-title>Alta empleado</h1>
<div mat-dialog-content>
  <mat-stepper>
    <mat-step>
      <form
        [formGroup]="nuevoEmpleado"
        class="min-w-[50vw]"
        (ngSubmit)="setEmpleadoBasic($event)"
      >
        <div class="flex flex-col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" placeholder="Apellido" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" placeholder="Teléfono" />
          </mat-form-field>

          <mat-label>Sexo</mat-label>
          <mat-chip-listbox aria-label="Elegir sexo" formControlName="genero">
            <mat-chip-option color="primary" value="m">Mujer</mat-chip-option>
            <mat-chip-option color="primary" value="h">Hombre</mat-chip-option>
            <mat-chip-option color="primary" value="x">
              No me identifico con ninguno de estos</mat-chip-option
            >
          </mat-chip-listbox>

          <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fecha_nacimiento"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              startView="year"
              [startAt]="startDate"
            ></mat-datepicker>
          </mat-form-field>
          <button color="primary" type="submit" mat-raised-button>
            Siguiente
          </button>

          <button
            id="toStep2"
            class="invisible"
            matStepperNext
            type="button"
            aria-label=""
          ></button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <div class="flex flex-col">
        <app-agregar-domicilio
          [dir_id]="dir_id.dir_id"
          (domicilio)="setDomicilio($event)"
        ></app-agregar-domicilio>
      </div>
    </mat-step>
    <mat-step>
      <form
        class="flex flex-col"
        [formGroup]="roleAndSector"
        (ngSubmit)="setRolAndSector($event)"
      >
        <app-agregar-rol [rol]="rol" [rol_id]="rol_id.rol_id"></app-agregar-rol>
        <app-agregar-sector
          [sector]="sector"
          [sector_id]="sector_id.sector_id"
        ></app-agregar-sector>

        <button color="primary" type="submit" mat-raised-button>
          Siguiente
        </button>
        <button
          id="toStep4"
          class="invisible"
          matStepperNext
          type="button"
          aria-label=""
        ></button>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="salario" (ngSubmit)="setSalarioAndFinish()">
        <div class="flex flex-col">
          <mat-form-field appearance="fill">
            <mat-label>Salario</mat-label>
            <span matPrefix>$</span>
            <input
              type="number"
              matInput
              formControlName="salario"
              placeholder="Salario"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Descripción <small>(Opcional)</small></mat-label>
            <textarea
              matInput
              formControlName="descripcion"
              placeholder="Descripción"
            ></textarea>
          </mat-form-field>

          <button color="accent" type="submit" mat-raised-button>
            {{ edit ? "Editar" : "Agregar" }}
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
