/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #673ab7;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}
body {
  margin: 0;
}
